@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes path-animation {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.animate-path {
  animation: path-animation 1.5s ease-in-out forwards;
}